<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>user</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"></link>
</head>
<body class="container">
<script>
  function getUpgradeBadgeInfo(){
         var ele = document.getElementById("upgradeBadge");
         var op = ele.options[ele.selectedIndex];
         console.log(op);
         document.getElementById("upgradeBadgeId").value=op.value;
         document.getElementById("upgradeBadgeTitle").value=op.text;
  }
</script>
<br/>
<h1>修改用户</h1>
<br/><br/>
<div class="with:80%">
    <form class="form-horizontal"   th:action="@{/editBadge}" th:object="${badge}"  method="post">
        <input type="hidden" name="id" th:value="*{id}" />
        <div class="form-group">
            <label for="title" class="col-sm-2 control-label">Title</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="title"  id="title" th:value="*{title}" placeholder="title"/>
            </div>
        </div>
        <div class="form-group">
            <label for="icon" class="col-sm-2 control-label" >Icon</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="icon" id="icon" th:value="*{icon}" placeholder="icon"/>
            </div>
        </div>
        <div class="form-group">
            <label for="description" class="col-sm-2 control-label">Description</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="description"  id="description" th:value="*{description}" placeholder="description"/>
            </div>
        </div>
        <div class="form-group">
            <label for="upgradeRequiredTime" class="col-sm-2 control-label">Required Condition</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="upgradeRequiredTime"  id="upgradeRequiredTime" th:value="*{upgradeRequiredTime}" placeholder="upgradeRequiredTime"/>
            </div>
        </div>
        <div class="form-group ">
	        <label for="upgradeBadge" class="col-sm-2 control-label">下一级勋章</label>
	        <div class="col-sm-10">
	            <select id="upgradeBadge"  class="form-control" name="upgradeBadge" onchange="getUpgradeBadgeInfo()">
	            	<option th:value="*{upgradeBadgeId}" th:text="*{upgradeBadgeTitle}"></option>
	                <option th:value="0" th:text="无"></option>
	                <option  th:each="editBadge:${editBadges}" th:value="${editBadge.id}" th:text="${editBadge.title}"></option>
	            </select>
	        </div>
	    </div>
	    <input type="hidden" id="upgradeBadgeId" name="upgradeBadgeId" value="*{upgradeBadgeId}" />
	    <input type="hidden" id="upgradeBadgeTitle" name="upgradeBadgeTitle" value="*{upgradeBadgeTitle}" />
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="submit" value="Submit" class="btn btn-info" />
                &nbsp; &nbsp; &nbsp;
                <a href="/toAddBadge" th:href="@{/listBadge}" class="btn btn-info">Back</a>
            </div>

        </div>
    </form>
</div>
</body>
</html>
