<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>user</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"></link>
</head>
<body class="container">
<script src="//ajax.aspnetcdn.com/ajax/jQuery/jquery-1.9.1.min.js"></script>
<script src="/webjars/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script>
  function getUpgradeBadgeInfo(){
         var ele = document.getElementById("upgradeBadge");
         var op = ele.options[ele.selectedIndex];
         console.log(op);
         document.getElementById("upgradeBadgeId").value=op.value;
         document.getElementById("upgradeBadgeTitle").value=op.text;
  }
  function checkaction(v){ 
		if(v==0){ 
			document.badgeForm.action="http://106.14.0.107/signin/editBadge"; 
			document.getElementById("showPic").style.display="";
			document.getElementById("uploadPic").style.display="none";
		}else{ 
			document.badgeForm.action="http://106.14.0.107/signin/editBadgeWithPic"; 
			document.getElementById("showPic").style.display="none";
			document.getElementById("uploadPic").style.display="";
		} 
		register.submit(); 
		}
  function bs_input_file() {
      $(".input-file").before(
          function() {
              if ( ! $(this).prev().hasClass('input-ghost') ) {
                  var element = $(".input-ghost");
                  element.change(function(){
                      element.next(element).find('input').val((element.val()).split('\\').pop());
                  });
                  $(this).find("button.btn-choose").click(function(){
                      element.click();
                  });
                  $(this).find("button.btn-reset").click(function(){
                      element.val(null);
                      $(this).parents(".input-file").find('input').val('');
                  });
                  $(this).find('input').css("cursor","pointer");
                  $(this).find('input').mousedown(function() {
                      $(this).parents('.input-file').prev().click();
                      return false;
                  });
                  return element;
              }
          }
      );
  }
  $(function() {
      bs_input_file();
  }); 
</script>
<br/>
<h1>修改勋章</h1>
<br/><br/>
<div class="with:80%">
    <form class="form-horizontal" name="badgeForm" action="http://106.14.0.107/signin/editBadge" th:object="${badge}"  method="post" enctype="multipart/form-data">
        <input type="hidden" name="id" th:value="*{id}" />
        <div class="form-group">
            <label for="title" class="col-sm-2 control-label">Title</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="title"  id="title" th:value="*{title}" placeholder="title"/>
            </div>
        </div>
        <div class="form-group">
	        <label for="uploadFile" class="col-sm-2 control-label">上传图片</label>
	        <div class="col-sm-10">
	            <input type="radio" th:name="uploadFile" th:value="no" th:text="否" onclick="checkaction(0)" checked="checked" />
	            <input type="radio" th:name="uploadFile" th:value="yes" th:text="是" onclick="checkaction(1)"/>
	        </div>
	    </div>
        <div class="form-group" id="showPic">
            <label for="icon" class="col-sm-2 control-label" >Icon</label>
            <div class="col-sm-10">
                <img th:src="@{*{icon}}"/>
            </div>
        </div>
        <input type="file" name="file" class="input-ghost" style="visibility:hidden; height:0"/>
       	<div class="form-group" id="uploadPic" style="display:none;">
       		<label for="icon" class="col-sm-2 control-label">Icon</label>
       		<div class="col-sm-10">
	           	<div class="input-group input-file">
	               	<input type="text" class="form-control" placeholder='Choose a file...'/>
	               	<span class="input-group-btn">
	                	<button class="btn btn-info" type="button">Choose</button>
	   		    	</span>
	           	</div>
           	</div>
       	</div>
        <div class="form-group">
            <label for="description" class="col-sm-2 control-label">Description</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="description"  id="description" th:value="*{description}" placeholder="description"/>
            </div>
        </div>
        <div class="form-group ">
	        <label for="upgradeBadge" class="col-sm-2 control-label">下一级勋章</label>
	        <div class="col-sm-10">
	            <select id="upgradeBadge"  class="form-control" name="upgradeBadge" onchange="getUpgradeBadgeInfo()">
	            	<option th:value="*{upgradeBadgeId}" th:text="*{upgradeBadgeTitle}"></option>
	                <option th:if="${badge.upgradeBadgeId != 0}" th:value="0" th:text="无"></option>
	                <option  th:each="editBadge:${editBadges}" th:value="${editBadge.id}" th:text="${editBadge.title}"></option>
	            </select>
	        </div>
	    </div>
        <div th:if="${highLevel}">
	        <div class="form-group">
	            <label for="upgradeRequiredTimes" class="col-sm-2 control-label">升级勋章累计勋章数</label>
	            <div class="col-sm-10">
	                <input type="number" class="form-control" name="upgradeRequiredTimes"  id="upgradeRequiredTimes" th:value="*{upgradeRequiredTimes}" placeholder="upgradeRequiredTimes"/>
	            </div>
	        </div>
        </div>
        <div class="form-group" th:unless="${highLevel}">
			<label for="completedRequiredActivities" class="col-sm-2 control-label">获得勋章需要完成活动数量</label>
			<div class="col-sm-10">
				<input type="number" class="form-control" name="completedRequiredActivities"
					id="completedRequiredActivities" th:value="*{completedRequiredActivities}" placeholder="completedRequiredActivities" />
			</div>
		</div>
	    <input type="hidden" id="upgradeBadgeId" name="upgradeBadgeId" th:value="*{upgradeBadgeId}" />
	    <input type="hidden" id="upgradeBadgeTitle" name="upgradeBadgeTitle" th:value="*{upgradeBadgeTitle}" />
	    <input type="hidden" class="form-control" name="icon" id="icon" th:value="*{icon}" placeholder="icon"/>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="submit" value="Submit" class="btn btn-info" />
                &nbsp; &nbsp; &nbsp;
                <a href="/toAddBadge" th:href="@{/listBadge}" class="btn btn-info">Back</a>
            </div>

        </div>
    </form>
</div>
</body>
</html>
