<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>badgeList</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"></link>
</head>
<body class="container">
<br/>
<h1>勋章列表</h1>
<br/><br/>
<div class="with:80%">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Badge Id</th>
            <th>Icon</th>
            <th>Title</th>
            <th>Description</th>
            <th>参与完成活动数量</th>
            <th>下一级勋章</th>
            <th>升级勋章累计勋章数</th>
            <th>Edit</th>
            <!-- <th>Delete</th> -->
        </tr>
        </thead>
        <tbody>
        <tr  th:each="badge : ${badges}">
            <th scope="row" th:text="${badge.id}">1</th>
            <td th:text="${badge.icon}">icon</td>
            <td th:text="${badge.title}">neo</td>
            <td th:text="${badge.description}">Otto</td>
            <td th:text="${badge.completedRequiredActivities}">Otto</td>
            <td th:text="${badge.upgradeBadgeTitle}">upgradeBadgeTitle</td>
            <td th:text="${badge.upgradeRequiredTimes}">6</td>
            <td><a th:href="@{/toEditBadge(id=${badge.id})}">edit</a></td>
            <!-- <td><a th:href="@{/deleteBadge(id=${badge.id})}">delete</a></td> -->
        </tr>
        </tbody>
    </table>
</div>
<div class="form-group">
    <div class="col-sm-2 control-label">
        <a href="/toAddBadge" th:href="@{/toAddBadge}" class="btn btn-info">add</a>
    </div>
</div>

</body>
</html>