<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>user</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"></link>
</head>
<body class="container">
<script>
  function getBadgeInfo(){
         var ele = document.getElementById("badgeType");
         var op = ele.options[ele.selectedIndex];
         console.log(op);
         document.getElementById("badgeTypeId").value=op.value;
         document.getElementById("badgeTypeTitle").value=op.text;
  }
</script>
<br/>
<h1>修改活动</h1>
<br/><br/>
<div class="with:80%">
    <form class="form-horizontal"   th:action="@{/editActivity}" th:object="${activity}"  method="post">
        <input type="hidden" name="id" th:value="*{id}" />
        <div class="form-group">
            <label for="creator" class="col-sm-2 control-label">Creator</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="creator"  id="creator" th:value="*{creator}" placeholder="creator"/>
            </div>
        </div>
        <div class="form-group">
            <label for="title" class="col-sm-2 control-label">Title</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="title"  id="title" th:value="*{title}" placeholder="title"/>
            </div>
        </div>
        <div class="form-group">
            <label for="icon" class="col-sm-2 control-label" >Icon</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="icon" id="icon" th:value="*{icon}" placeholder="icon"/>
            </div>
        </div>
        <div class="form-group">
            <label for="description" class="col-sm-2 control-label">Description</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="description"  id="description" th:value="*{description}" placeholder="description"/>
            </div>
        </div>
        <div class="form-group ">
	        <label for="requiredActivity" class="col-sm-2 control-label">必须参与的活动</label>
	        <div class="col-sm-10">
	            <input type="radio" th:name="requiredActivity" th:value="yes" th:text="是" th:checked="${activityBadge.requiredActivity == 'yes'}"/>
	            <input type="radio" th:name="requiredActivity" th:value="no" th:text="否" th:checked="${activityBadge.requiredActivity == 'no'}"/>
	        </div>
	    </div>
	    <div class="form-group ">
	        <label for="badgeType" class="col-sm-2 control-label">勋章类别</label>
	        <div class="col-sm-10">
	            <select id="badgeType"  class="form-control" name="badgeType" onchange="getBadgeInfo()">
	            	<option th:value="${badge.id}" th:text="${badge.title}"></option>
	                <option th:each="editBadge:${editBadges}" th:value="${editBadge.id}" th:text="${editBadge.title}"></option>
	            </select>
	        </div>
	    </div>
        <div class="form-group">
            <label for="requiredAttendTimes" class="col-sm-2 control-label" >完成活动需要参加次数</label>
            <div class="col-sm-10">
                <input type="number" class="requiredAttendTimes" name="requiredAttendTimes" id="requiredAttendTimes"  th:value="*{requiredAttendTimes}" placeholder="requiredAttendanceTimes"/>
            </div>
        </div>
        <input type="hidden" id="badgeTypeId" name="badgeTypeId" th:value="${activityBadge.badgeId}" placeholder="badgeTypeId"/>
        <input type="hidden" id="type" name="type" th:value="*{type}" placeholder="type"/>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="submit" value="Submit" class="btn btn-info" />
                &nbsp; &nbsp; &nbsp;
                <a href="/toAddActivity" th:href="@{/listActivity}" class="btn btn-info">Back</a>
            </div>

        </div>
    </form>
</div>
</body>
</html>
