<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>user</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"></link>
</head>
<body class="container">
<script>
  function getUpgradeBadgeInfo(){
         var ele = document.getElementById("badgeType");
         var op = ele.options[ele.selectedIndex];
         console.log(op);
         document.getElementById("badgeTypeId").value=op.value;
  }
  function reset(){
         document.getElementById("badgeTypeId").value=0;
  }
</script>
<br/>
<h1>添加活动</h1>
<br/><br/>
<div class="with:80%">
    <form class="form-horizontal"   th:action="@{/addActivity}"  method="post">
        <div class="form-group">
            <label for="creator" class="col-sm-2 control-label">Creator</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="creator"  id="creator" placeholder="creator"/>
            </div>
        </div>
        <div class="form-group">
            <label for="title" class="col-sm-2 control-label">Title</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="title"  id="title" placeholder="title"/>
            </div>
        </div>
        <div class="form-group">
            <label for="description" class="col-sm-2 control-label">Description</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="description"  id="description" placeholder="description"/>
            </div>
        </div>
        <div class="form-group">
            <label for="icon" class="col-sm-2 control-label" >Icon</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="icon" id="icon" placeholder="icon"/>
            </div>
        </div>
        <div class="form-group">
	        <label for="type" class="col-sm-2 control-label">勋章重要活动</label>
	        <div class="col-sm-10">
	            <input type="radio" th:name="type" th:value="scripture" checked="checked"/>读经
	            <input type="radio" th:name="type" th:value="others" />其他活动
	        </div>
	    </div>
        <div class="form-group">
	        <label for="badgeType" class="col-sm-2 control-label">勋章类别</label>
	        <div class="col-sm-10">
	            <select id="badgeType" class="form-control" name="badgeType" onchange="getUpgradeBadgeInfo()">
	                <option>请选择勋章</option>
	                <option  th:each="badge:${badges}" th:value="${badge.id}" th:text="${badge.title}"></option>
	            </select>
	        </div>
	    </div>
	    <div class="form-group">
	        <label for="requiredActivity" class="col-sm-2 control-label">勋章重要活动</label>
	        <div class="col-sm-10">
	            <input type="radio" th:name="requiredActivity" th:value="yes" th:text="yes" checked="checked"/>
	            <input type="radio" th:name="requiredActivity" th:value="no" th:text="no"/>
	        </div>
	    </div>
        <div class="form-group">
			<label for="requiredAttendTimes" class="col-sm-2 control-label">参与完成活动次数</label>
			<div class="col-sm-10">
				<input type="number" class="form-control" name="requiredAttendTimes" th:value=0 id="requiredAttendTimes" placeholder="requiredAttendTimes" />
			</div>
		</div>
        <input type="hidden" id="badgeTypeId" name="badgeTypeId" value="0" placeholder="badgeTypeId"/>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="submit" value="Submit" class="btn btn-info" />
                &nbsp; &nbsp; &nbsp;
                <input type="reset" value="Reset" class="btn btn-info" onclick="reset()"/>
            </div>

        </div>
    </form>
</div>
</body>
</html>
