<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>user</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"></link>
</head>
<body class="container">
<script src="//ajax.aspnetcdn.com/ajax/jQuery/jquery-1.9.1.min.js"></script>
<script src="/webjars/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script>
  function getUpgradeBadgeInfo(){
         var ele = document.getElementById("badgeType");
         var op = ele.options[ele.selectedIndex];
         console.log(op);
         document.getElementById("badgeTypeId").value=op.value;
  }
  function reset(){
         document.getElementById("badgeTypeId").value=0;
  }
  function bs_input_file() {
      $(".input-file").before(
          function() {
              if ( ! $(this).prev().hasClass('input-ghost') ) {
                  var element = $(".input-ghost");
                  element.change(function(){
                      element.next(element).find('input').val((element.val()).split('\\').pop());
                  });
                  $(this).find("button.btn-choose").click(function(){
                      element.click();
                  });
                  $(this).find("button.btn-reset").click(function(){
                      element.val(null);
                      $(this).parents(".input-file").find('input').val('');
                  });
                  $(this).find('input').css("cursor","pointer");
                  $(this).find('input').mousedown(function() {
                      $(this).parents('.input-file').prev().click();
                      return false;
                  });
                  return element;
              }
          }
      );
  }
  $(function() {
      bs_input_file();
  }); 
</script>
<br/>
<h1>添加活动</h1>
<br/><br/>
<div class="with:80%">
    <form class="form-horizontal"   th:action="@{/addActivityWithPic}"  method="post"  enctype="multipart/form-data">
        <div class="form-group">
            <label for="creator" class="col-sm-2 control-label">Creator</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="creator"  id="creator" placeholder="creator"/>
            </div>
        </div>
        <div class="form-group">
            <label for="title" class="col-sm-2 control-label">Title</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="title"  id="title" placeholder="title"/>
            </div>
        </div>
        <div class="form-group">
            <label for="description" class="col-sm-2 control-label">Description</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="description"  id="description" placeholder="description"/>
            </div>
        </div>
        <input type="file" name="file" class="input-ghost" style="visibility:hidden; height:0"/>
	       	<div class="form-group">
	       		<label for="icon" class="col-sm-2 control-label">Icon</label>
	       		<div class="col-sm-10">
		           	<div class="input-group input-file">
		               	<input type="text" class="form-control" placeholder='Choose a file...'/>
		               	<span class="input-group-btn">
		                	<button class="btn btn-info" type="button">Choose</button>
		   		    	</span>
		           	</div>
	           	</div>
	       	</div>
        <div class="form-group">
	        <label for="type" class="col-sm-2 control-label">活动类型</label>
	        <div class="col-sm-10">
	            <input type="radio" th:name="type" th:value="scripture" checked="checked"/>读经
	            <input type="radio" th:name="type" th:value="others" />其他活动
	        </div>
	    </div>
	    <div class="form-group">
	        <label for="requiredActivity" class="col-sm-2 control-label">必须参与的活动</label>
	        <div class="col-sm-10">
	            <input type="radio" th:name="requiredActivity" th:value="yes" th:text="是" checked="checked"/>
	            <input type="radio" th:name="requiredActivity" th:value="no" th:text="否"/>
	        </div>
	    </div>
        <div class="form-group">
			<label for="requiredAttendTimes" class="col-sm-2 control-label">完成活动需要参加次数</label>
			<div class="col-sm-10">
				<input type="number" class="form-control" name="requiredAttendTimes" th:value=1 id="requiredAttendTimes" placeholder="requiredAttendTimes" />
			</div>
		</div>
        <div class="form-group">
	        <label for="badgeType" class="col-sm-2 control-label">勋章类别</label>
	        <div class="col-sm-10">
	            <select id="badgeType" class="form-control" name="badgeType" onchange="getUpgradeBadgeInfo()">
	            	<option>请选择勋章</option>
	                <option th:each="badge:${badges}" th:value="${badge.id}" th:text="${badge.title}"></option>
	            </select>
	        </div>
	    </div>
        <input type="hidden" id="badgeTypeId" name="badgeTypeId" value="0" placeholder="badgeTypeId"/>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="submit" value="Submit" class="btn btn-info" />
                &nbsp; &nbsp; &nbsp;
                <input type="reset" value="Reset" class="btn btn-info" onclick="reset()"/>
            </div>

        </div>
    </form>
</div>
</body>
</html>
